name: Docker build
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2      
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Docker build
      run: |
        docker build -f graph_tool_ubuntu.Dockerfile -t patrickohara/graph_tool_ubuntu:latest .
        docker build -t patrickohara/tspwplib:latest .
    - name: Docker push
      run: |
        docker push patrickohara/graph_tool_ubuntu:latest
        docker push patrickohara/tspwplib:latest